body {
  font-family: 'Poppins', sans-serif;
}

.projects-container {
  margin: 2rem;
}

.projects-container ul {
  list-style: none;
  padding: 0;
}

.projects-container li {
  padding: 0.5rem;
  background-color: #222;
  margin-bottom: 1rem;
  border-radius: 8px;
}

